.created-cell {
  /* height: 100%; */
  /* border: 1px solid red; */
  margin: 1px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
}
