.dashboard-container {
  display: flex;
  background-color: var(--grey);
  width: 100%;
  max-height: 92vh;
  min-height: 92vh;
  overflow-y: auto;
  flex-direction: column;
}

.app-viz-container {
  margin-top: 20px;
}
